
    $bodyback: #e5e5e5;
    $headback: #ffffff;
    $footback: #2F303A;
    $textcolor: #757575;
    $headtextcolor: #212121;
    $logocolor: #2196F3;
    $buttoncolor: #2196F3;
    $buttontext: #ffffff;
    $studiocolor: #000000;
    $backforteamlist: #f5f4fa;
    $buttonhover: #188ce8;
    $buttonnohover: #f5f4fa;
    $webfoot: #ffffff;
    $buttonmenucolor: #212121;
    $border-bottom: #ECECEC;
    $iconcolor: #AFB1B8;
    $iconhover: #2196F3;
    $imagegradient:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));